soapSynAsyn_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.example.org/soapSynAsyn/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/soapSynAsyn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
                      <xsd:element ibmSchExtn:docRoot="true" name="request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element ibmSchExtn:docRoot="true" name="response" type="tns:personType">

      </xsd:element>
            <xsd:complexType name="personType">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:string"/>
      		<xsd:element name="nom" type="xsd:string"/>
      		<xsd:element name="prenom" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
        </xsd:schema>